$windowDefaultColor: #245edb;
$windowDefaultColorLight: #0c8dea;
$windowDefaultBackgroundColor: #E6EAD8;

$defaultGradiente: linear-gradient(to bottom, #{$windowDefaultColor} 0%, #3f8cf3 9%, #{$windowDefaultColor} 18%, #{$windowDefaultColor} 92%, #333 100%) center/cover no-repeat;